.task-list {
    height: 80%;
    /* padding-right: 5px; */
    overflow: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width:10px; 
    height: 8px; 
    background-color: #ffffff;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #bebebe;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }