.task-list-item {
    height: 45px;
    align-items: center;
}
.task-list-item .task-label {
    font-size: 1rem;
}
.icon-group {
    width: 60px;
    justify-content: space-between;
}
.icon-group .icon {
    cursor: pointer;
}
.important .star   {
    color: #ffc107;
}
.done .check  {
    color: #198754;
}
.trash:hover {
    color: #dc3545;
}